:root{
    --bg--body: #131416;
    --color-font: #ffff;
    --color-button: #b73030;
    --color-card: #1E212C;
   
}


.container{
    max-width: 830px;
    margin: auto;
    
}



body{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: var(--bg--body);
}

header .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
 
}

header h2{
    font-size: 40px;
}

.logo h2{
    color: var(--color-button);
}

.logo img{
    width: 100px;
    height: 100px;
    margin-right: 5px;
}

.section-one{
    display: flex;
    margin-top: 100px;
}

.action-title h2{
    font-size: 30px;
    color: var(--color-font);
}

.button{
    background-color: var(--color-button) ;
    display: inline-block;
    padding: 15px 70px;
    border-radius: 50px;
    color: var(--color-font);
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;


}

.corporation img{
    width: 230px;
    height: auto;
    border-radius: 8px;
    margin-right: 50px;
    
}

.section-two{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 180px;

}

.section-two h2{
    color: var(--color-button);
    text-transform: uppercase;
    text-align: center;
    text-shadow: 10px solid #8f0000;;

}

.cards{
    display: flex;
    align-items: center;
    margin-top: 50px;
    justify-content: space-around;
}

.card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-card);
    width: 220px;
    height: 180px;
    border-radius: 10px;
    text-transform: uppercase;
    color: var(--color-font);

}
.card img{
    width: 65px;
    height: 65px;
}

.section-three{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 50px;
}


.button-two{
    display: inline-block;
    background-color: var(--color-card);
    color: var(--color-font);
    padding: 15px 30px;
    border-radius: 50px;
    font-weight: bold;
}

.section-three h2{
    font-size: 48px;
    color: #8f0000;
}

.section-three p{
    color: var(--color-font);
    margin-top: -25px;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1C2029;
    height: 100px;
    padding-bottom: 40px;
}

.button-footer{
    display: inline-block;
    padding: 15px 70px;
    background-color: var(--color-button);
    border-radius: 50px;
    color: var(--color-font);
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    margin-top: -40px;
}

footer p{
    color: var(--color-font);
    font-size: 14px;
    margin-top: 30px;
}


@media (max-width: 420px){
    .section-one{
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 8px;   
     }

    .corporation img{
            border-radius: 8px;
            margin-right: 0px;
     }


    .action-title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .action-title h2{
       font-size: 40px;
       text-align: center;
       color: var(--color-font);
       font-size: 20px; 
    }

    .button{
        margin-top: 20px;
    }

    .cards{
        display: flex;
        flex-direction: column;
    }

    .card{
        margin-top: 40px;
    }

    .section-three h2{
        text-align: center;
        font-size: 30px;
    }

    .section-three p{
        font-size: 14px;
    }

}